@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo</h1>
    <p>Para consultar e cadastrar livros <a href="~/LibraryBooks">Clique aqui</a>.</p>
</div>
