/Web.Client/.vs/Web.Client/v16/.suo
/Web.Client/.vs/Web.Client/v16/Server/sqlite3/db.lock
/Web.Client/.vs/Web.Client/v16/Server/sqlite3/storage.ide
/Web.Client/.vs/Web.Client/v16/Server/sqlite3/storage.ide-shm
/Web.Client/.vs/Web.Client/v16/Server/sqlite3/storage.ide-wal
/web.api/.vs/web.api/v16/.suo
/web.api/.vs/web.api/v16/Server/sqlite3/db.lock
/web.api/.vs/web.api/v16/Server/sqlite3/storage.ide
/web.api/.vs/web.api/v16/Server/sqlite3/storage.ide-shm
/web.api/.vs/web.api/v16/Server/sqlite3/storage.ide-wal
/Web.Client/Web.Client/obj/Debug/netcoreapp2.2/Web.Client.AssemblyInfo.cs
/Web.Client/Web.Client/obj/Debug/netcoreapp2.2/Web.Client.AssemblyInfoInputs.cache
/Web.Client/Web.Client/obj/Debug/netcoreapp2.2/Web.Client.RazorAssemblyInfo.cache
/Web.Client/Web.Client/obj/Debug/netcoreapp2.2/Web.Client.RazorAssemblyInfo.cs
/Web.Client/Web.Client/obj/Debug/netcoreapp2.2/Web.Client.assets.cache
/Web.Client/Web.Client/obj/Debug/netcoreapp2.2/Web.Client.csprojAssemblyReference.cache
/Web.Client/Web.Client/obj/Web.Client.csproj.nuget.cache
/Web.Client/Web.Client/obj/Web.Client.csproj.nuget.dgspec.json
/Web.Client/Web.Client/obj/Web.Client.csproj.nuget.g.props
/Web.Client/Web.Client/obj/Web.Client.csproj.nuget.g.targets
/Web.Client/Web.Client/obj/project.assets.json
/Web.Client/WebClient.Domain/obj/Debug/netcoreapp3.0/WebClient.Domain.AssemblyInfo.cs
/Web.Client/WebClient.Domain/obj/Debug/netcoreapp3.0/WebClient.Domain.AssemblyInfoInputs.cache
/Web.Client/WebClient.Domain/obj/Debug/netcoreapp3.0/WebClient.Domain.assets.cache
/Web.Client/WebClient.Domain/obj/Debug/netcoreapp3.0/WebClient.Domain.csprojAssemblyReference.cache
/Web.Client/WebClient.Domain/obj/WebClient.Domain.csproj.nuget.cache
/Web.Client/WebClient.Domain/obj/WebClient.Domain.csproj.nuget.dgspec.json
/Web.Client/WebClient.Domain/obj/WebClient.Domain.csproj.nuget.g.props
/Web.Client/WebClient.Domain/obj/WebClient.Domain.csproj.nuget.g.targets
/Web.Client/WebClient.Domain/obj/project.assets.json
/Web.Client/WebClient.Infra/obj/Debug/netcoreapp3.0/WebClient.Infra.AssemblyInfo.cs
/Web.Client/WebClient.Infra/obj/Debug/netcoreapp3.0/WebClient.Infra.AssemblyInfoInputs.cache
/Web.Client/WebClient.Infra/obj/Debug/netcoreapp3.0/WebClient.Infra.assets.cache
/Web.Client/WebClient.Infra/obj/Debug/netcoreapp3.0/WebClient.Infra.csprojAssemblyReference.cache
/Web.Client/WebClient.Infra/obj/WebClient.Infra.csproj.nuget.cache
/Web.Client/WebClient.Infra/obj/WebClient.Infra.csproj.nuget.dgspec.json
/Web.Client/WebClient.Infra/obj/WebClient.Infra.csproj.nuget.g.props
/Web.Client/WebClient.Infra/obj/WebClient.Infra.csproj.nuget.g.targets
/Web.Client/WebClient.Infra/obj/project.assets.json
/web.api/web.api/bin/Debug/netcoreapp2.2/Properties/launchSettings.json
/web.api/web.api/bin/Debug/netcoreapp2.2/appsettings.Development.json
/web.api/web.api/bin/Debug/netcoreapp2.2/appsettings.json
/web.api/web.api/bin/Debug/netcoreapp2.2/web.api.deps.json
/web.api/web.api/bin/Debug/netcoreapp2.2/web.api.dll
/web.api/web.api/bin/Debug/netcoreapp2.2/web.api.pdb
/web.api/web.api/bin/Debug/netcoreapp2.2/web.api.runtimeconfig.dev.json
/web.api/web.api/bin/Debug/netcoreapp2.2/web.api.runtimeconfig.json
/web.api/web.api/obj/Debug/netcoreapp2.2/web.api.AssemblyInfo.cs
/web.api/web.api/obj/Debug/netcoreapp2.2/web.api.AssemblyInfoInputs.cache
/web.api/web.api/obj/Debug/netcoreapp2.2/web.api.RazorAssemblyInfo.cache
/web.api/web.api/obj/Debug/netcoreapp2.2/web.api.RazorAssemblyInfo.cs
/web.api/web.api/obj/Debug/netcoreapp2.2/web.api.RazorTargetAssemblyInfo.cache
/web.api/web.api/obj/Debug/netcoreapp2.2/web.api.assets.cache
/web.api/web.api/obj/Debug/netcoreapp2.2/web.api.csproj.FileListAbsolute.txt
/web.api/web.api/obj/Debug/netcoreapp2.2/web.api.csprojAssemblyReference.cache
/web.api/web.api/obj/Debug/netcoreapp2.2/web.api.dll
/web.api/web.api/obj/Debug/netcoreapp2.2/web.api.pdb
/web.api/web.api/obj/project.assets.json
/web.api/web.api/obj/web.api.csproj.nuget.cache
/web.api/web.api/obj/web.api.csproj.nuget.dgspec.json
/web.api/web.api/obj/web.api.csproj.nuget.g.props
/web.api/web.api/obj/web.api.csproj.nuget.g.targets
/web.api/web.api/web.api.csproj.user
/web.api/webapi.Domain/obj/Debug/netcoreapp3.0/webapi.Domain.AssemblyInfo.cs
/web.api/webapi.Domain/obj/Debug/netcoreapp3.0/webapi.Domain.AssemblyInfoInputs.cache
/web.api/webapi.Domain/obj/Debug/netcoreapp3.0/webapi.Domain.assets.cache
/web.api/webapi.Domain/obj/Debug/netcoreapp3.0/webapi.Domain.csprojAssemblyReference.cache
/web.api/webapi.Domain/obj/project.assets.json
/web.api/webapi.Domain/obj/webapi.Domain.csproj.nuget.cache
/web.api/webapi.Domain/obj/webapi.Domain.csproj.nuget.dgspec.json
/web.api/webapi.Domain/obj/webapi.Domain.csproj.nuget.g.props
/web.api/webapi.Domain/obj/webapi.Domain.csproj.nuget.g.targets
/web.api/webapi.Infra.Data/obj/Debug/netcoreapp3.0/webapi.Infra.Data.AssemblyInfo.cs
/web.api/webapi.Infra.Data/obj/Debug/netcoreapp3.0/webapi.Infra.Data.AssemblyInfoInputs.cache
/web.api/webapi.Infra.Data/obj/Debug/netcoreapp3.0/webapi.Infra.Data.assets.cache
/web.api/webapi.Infra.Data/obj/project.assets.json
/web.api/webapi.Infra.Data/obj/webapi.Infra.Data.csproj.nuget.cache
/web.api/webapi.Infra.Data/obj/webapi.Infra.Data.csproj.nuget.dgspec.json
/web.api/webapi.Infra.Data/obj/webapi.Infra.Data.csproj.nuget.g.props
/web.api/webapi.Infra.Data/obj/webapi.Infra.Data.csproj.nuget.g.targets
/web.api/webapi.Infra/obj/Debug/netcoreapp3.0/webapi.Infra.AssemblyInfo.cs
/web.api/webapi.Infra/obj/Debug/netcoreapp3.0/webapi.Infra.AssemblyInfoInputs.cache
/web.api/webapi.Infra/obj/Debug/netcoreapp3.0/webapi.Infra.assets.cache
/web.api/webapi.Infra/obj/Debug/netcoreapp3.0/webapi.Infra.csprojAssemblyReference.cache
/web.api/webapi.Infra/obj/project.assets.json
/web.api/webapi.Infra/obj/webapi.Infra.csproj.nuget.cache
/web.api/webapi.Infra/obj/webapi.Infra.csproj.nuget.dgspec.json
/web.api/webapi.Infra/obj/webapi.Infra.csproj.nuget.g.props
/web.api/webapi.Infra/obj/webapi.Infra.csproj.nuget.g.targets
/Web.Client/.vs/Web.Client/config/applicationhost.config
/Web.Client/.vs/Web.Client/v16/.suo
/Web.Client/.vs/Web.Client/v16/Server/sqlite3/db.lock
/Web.Client/.vs/Web.Client/v16/Server/sqlite3/storage.ide
/Web.Client/.vs/Web.Client/v16/Server/sqlite3/storage.ide-shm
/Web.Client/.vs/Web.Client/v16/Server/sqlite3/storage.ide-wal
/Web.Client/Web.Client/bin/Debug/netcoreapp2.2/Properties/launchSettings.json
/Web.Client/Web.Client/bin/Debug/netcoreapp2.2/Web.Client.Views.dll
/Web.Client/Web.Client/bin/Debug/netcoreapp2.2/Web.Client.Views.pdb
/Web.Client/Web.Client/bin/Debug/netcoreapp2.2/Web.Client.deps.json
/Web.Client/Web.Client/bin/Debug/netcoreapp2.2/Web.Client.dll
/Web.Client/Web.Client/bin/Debug/netcoreapp2.2/Web.Client.pdb
/Web.Client/Web.Client/bin/Debug/netcoreapp2.2/Web.Client.runtimeconfig.dev.json
/Web.Client/Web.Client/bin/Debug/netcoreapp2.2/Web.Client.runtimeconfig.json
/Web.Client/Web.Client/bin/Debug/netcoreapp2.2/appsettings.Development.json
/Web.Client/Web.Client/bin/Debug/netcoreapp2.2/appsettings.json
/Web.Client/Web.Client/obj/Debug/netcoreapp2.2/Razor/Views/Home/Index.cshtml.g.cs
/Web.Client/Web.Client/obj/Debug/netcoreapp2.2/Razor/Views/Home/Privacy.cshtml.g.cs
/Web.Client/Web.Client/obj/Debug/netcoreapp2.2/Razor/Views/LibraryBooks/CreateOrEdit.cshtml.g.cs
/Web.Client/Web.Client/obj/Debug/netcoreapp2.2/Razor/Views/LibraryBooks/Index.cshtml.g.cs
/Web.Client/Web.Client/obj/Debug/netcoreapp2.2/Razor/Views/Shared/Error.cshtml.g.cs
/Web.Client/Web.Client/obj/Debug/netcoreapp2.2/Razor/Views/Shared/_CookieConsentPartial.cshtml.g.cs
/Web.Client/Web.Client/obj/Debug/netcoreapp2.2/Razor/Views/Shared/_Layout.cshtml.g.cs
/Web.Client/Web.Client/obj/Debug/netcoreapp2.2/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs
/Web.Client/Web.Client/obj/Debug/netcoreapp2.2/Razor/Views/_ViewImports.cshtml.g.cs
/Web.Client/Web.Client/obj/Debug/netcoreapp2.2/Razor/Views/_ViewStart.cshtml.g.cs
/Web.Client/Web.Client/obj/Debug/netcoreapp2.2/Web.Client.AssemblyInfo.cs
/Web.Client/Web.Client/obj/Debug/netcoreapp2.2/Web.Client.AssemblyInfoInputs.cache
/Web.Client/Web.Client/obj/Debug/netcoreapp2.2/Web.Client.RazorAssemblyInfo.cache
/Web.Client/Web.Client/obj/Debug/netcoreapp2.2/Web.Client.RazorAssemblyInfo.cs
/Web.Client/Web.Client/obj/Debug/netcoreapp2.2/Web.Client.RazorCoreGenerate.cache
/Web.Client/Web.Client/obj/Debug/netcoreapp2.2/Web.Client.RazorTargetAssemblyInfo.cache
/Web.Client/Web.Client/obj/Debug/netcoreapp2.2/Web.Client.RazorTargetAssemblyInfo.cs
/Web.Client/Web.Client/obj/Debug/netcoreapp2.2/Web.Client.TagHelpers.input.cache
/Web.Client/Web.Client/obj/Debug/netcoreapp2.2/Web.Client.TagHelpers.output.cache
/Web.Client/Web.Client/obj/Debug/netcoreapp2.2/Web.Client.Views.dll
/Web.Client/Web.Client/obj/Debug/netcoreapp2.2/Web.Client.Views.pdb
/Web.Client/Web.Client/obj/Debug/netcoreapp2.2/Web.Client.assets.cache
/Web.Client/Web.Client/obj/Debug/netcoreapp2.2/Web.Client.csproj.CopyComplete
/Web.Client/Web.Client/obj/Debug/netcoreapp2.2/Web.Client.csproj.FileListAbsolute.txt
/Web.Client/Web.Client/obj/Debug/netcoreapp2.2/Web.Client.csprojAssemblyReference.cache
/Web.Client/Web.Client/obj/Debug/netcoreapp2.2/Web.Client.dll
/Web.Client/Web.Client/obj/Debug/netcoreapp2.2/Web.Client.pdb
/Web.Client/Web.Client/obj/Web.Client.csproj.nuget.cache
/Web.Client/Web.Client/obj/Web.Client.csproj.nuget.dgspec.json
/Web.Client/Web.Client/obj/Web.Client.csproj.nuget.g.props
/Web.Client/Web.Client/obj/Web.Client.csproj.nuget.g.targets
/Web.Client/Web.Client/obj/project.assets.json
/Web.Client/.vs/Web.Client/DesignTimeBuild
/web.api/.vs/web.api/DesignTimeBuild/.dtbcache
/web.api/webapi.Domain/bin/Debug/netcoreapp2.2/webapi.Domain.deps.json
/web.api/webapi.Domain/bin/Debug/netcoreapp2.2/webapi.Domain.dll
/web.api/webapi.Domain/bin/Debug/netcoreapp2.2/webapi.Domain.pdb
/web.api/webapi.Domain/obj/Debug/netcoreapp2.2/webapi.Domain.AssemblyInfo.cs
/web.api/webapi.Domain/obj/Debug/netcoreapp2.2/webapi.Domain.AssemblyInfoInputs.cache
/web.api/webapi.Domain/obj/Debug/netcoreapp2.2/webapi.Domain.assets.cache
/web.api/webapi.Domain/obj/Debug/netcoreapp2.2/webapi.Domain.csproj.FileListAbsolute.txt
/web.api/webapi.Domain/obj/Debug/netcoreapp2.2/webapi.Domain.csprojAssemblyReference.cache
/web.api/webapi.Domain/obj/Debug/netcoreapp2.2/webapi.Domain.dll
/web.api/webapi.Domain/obj/Debug/netcoreapp2.2/webapi.Domain.pdb
/web.api/webapi.Infra.Data/bin/Debug/netcoreapp3.0/webapi.Infra.Data.deps.json
/web.api/webapi.Infra.Data/obj/Debug/netcoreapp2.2/webapi.Infra.Data.AssemblyInfo.cs
/web.api/webapi.Infra.Data/obj/Debug/netcoreapp2.2/webapi.Infra.Data.AssemblyInfoInputs.cache
/web.api/webapi.Infra.Data/obj/Debug/netcoreapp2.2/webapi.Infra.Data.assets.cache
/web.api/webapi.Infra.Data/obj/Debug/netcoreapp2.2/webapi.Infra.Data.csproj.FileListAbsolute.txt
/web.api/webapi.Infra.Data/obj/Debug/netcoreapp2.2/webapi.Infra.Data.csprojAssemblyReference.cache
/web.api/webapi.Infra.Data/obj/Debug/netcoreapp3.0/webapi.Infra.Data.csproj.FileListAbsolute.txt
/web.api/webapi.Infra.Data/obj/Debug/netcoreapp3.0/webapi.Infra.Data.csprojAssemblyReference.cache
/web.api/webapi.Infra.Data/webapi.Infra.Data.csproj.user
/web.api/webapi.Infra/obj/Debug/netcoreapp2.2/webapi.Infra.AssemblyInfo.cs
/web.api/webapi.Infra/obj/Debug/netcoreapp2.2/webapi.Infra.AssemblyInfoInputs.cache
/web.api/webapi.Infra/obj/Debug/netcoreapp2.2/webapi.Infra.assets.cache
/web.api/webapi.Infra/obj/Debug/netcoreapp2.2/webapi.Infra.csprojAssemblyReference.cache
/web.api/webapi.Infra/webapi.Infra.csproj.user
/web.api/web.api/bin/Debug/netcoreapp2.2/webapi.Domain.dll
/web.api/web.api/bin/Debug/netcoreapp2.2/webapi.Domain.pdb
/web.api/web.api/obj/Debug/netcoreapp2.2/web.api.csproj.CopyComplete
/web.api/web.api/bin/netcoreapp2.2/Properties/launchSettings.json
/web.api/web.api/bin/netcoreapp2.2/Swagger/XmlDocument.xml
/web.api/web.api/bin/netcoreapp2.2/XmlDocument.xml
/web.api/web.api/bin/netcoreapp2.2/appsettings.Development.json
/web.api/web.api/bin/netcoreapp2.2/appsettings.json
/web.api/web.api/bin/netcoreapp2.2/web.api.deps.json
/web.api/web.api/bin/netcoreapp2.2/web.api.dll
/web.api/web.api/bin/netcoreapp2.2/web.api.pdb
/web.api/web.api/bin/netcoreapp2.2/web.api.runtimeconfig.dev.json
/web.api/web.api/bin/netcoreapp2.2/web.api.runtimeconfig.json
/web.api/web.api/bin/netcoreapp2.2/webapi.Domain.dll
/web.api/web.api/bin/netcoreapp2.2/webapi.Domain.pdb
/web.api/web.api/bin/netcoreapp2.2/webapi.Infra.Data.dll
/web.api/web.api/bin/netcoreapp2.2/webapi.Infra.Data.pdb
/web.api/webapi.Infra.Data/bin/Debug/netcoreapp2.2/webapi.Domain.dll
/web.api/webapi.Infra.Data/bin/Debug/netcoreapp2.2/webapi.Domain.pdb
/web.api/webapi.Infra.Data/bin/Debug/netcoreapp2.2/webapi.Infra.Data.deps.json
/web.api/webapi.Infra.Data/bin/Debug/netcoreapp2.2/webapi.Infra.Data.dll
/web.api/webapi.Infra.Data/bin/Debug/netcoreapp2.2/webapi.Infra.Data.pdb
/web.api/webapi.Infra.Data/bin/Debug/netcoreapp2.2/webapi.Infra.Data.runtimeconfig.dev.json
/web.api/webapi.Infra.Data/bin/Debug/netcoreapp2.2/webapi.Infra.Data.runtimeconfig.json
/web.api/webapi.Infra.Data/obj/Debug/netcoreapp2.2/webapi.Infra.Data.csproj.CopyComplete
/web.api/webapi.Infra.Data/obj/Debug/netcoreapp2.2/webapi.Infra.Data.dll
/web.api/webapi.Infra.Data/obj/Debug/netcoreapp2.2/webapi.Infra.Data.pdb
/web.api/webapi.Infra/bin/Debug/netcoreapp2.2/webapi.Infra.deps.json
/web.api/webapi.Infra/bin/Debug/netcoreapp2.2/webapi.Infra.dll
/web.api/webapi.Infra/bin/Debug/netcoreapp2.2/webapi.Infra.pdb
/web.api/webapi.Infra/obj/Debug/netcoreapp2.2/webapi.Infra.csproj.FileListAbsolute.txt
/web.api/webapi.Infra/obj/Debug/netcoreapp2.2/webapi.Infra.dll
/web.api/webapi.Infra/obj/Debug/netcoreapp2.2/webapi.Infra.pdb
/web.api/web.api/bin/Release/netcoreapp2.2/Properties/launchSettings.json
/web.api/web.api/bin/Release/netcoreapp2.2/Swagger/XmlDocument.xml
/web.api/web.api/bin/Release/netcoreapp2.2/appsettings.Development.json
/web.api/web.api/bin/Release/netcoreapp2.2/appsettings.json
/web.api/web.api/bin/Release/netcoreapp2.2/web.api.deps.json
/web.api/web.api/bin/Release/netcoreapp2.2/web.api.dll
/web.api/web.api/bin/Release/netcoreapp2.2/web.api.pdb
/web.api/web.api/bin/Release/netcoreapp2.2/web.api.runtimeconfig.dev.json
/web.api/web.api/bin/Release/netcoreapp2.2/web.api.runtimeconfig.json
/web.api/web.api/bin/Release/netcoreapp2.2/webapi.Domain.dll
/web.api/web.api/bin/Release/netcoreapp2.2/webapi.Domain.pdb
/web.api/web.api/bin/Release/netcoreapp2.2/webapi.Infra.Data.dll
/web.api/web.api/bin/Release/netcoreapp2.2/webapi.Infra.Data.pdb
/web.api/web.api/obj/Release/netcoreapp2.2/PubTmp/Out/Microsoft.AspNetCore.Mvc.Versioning.dll
/web.api/web.api/obj/Release/netcoreapp2.2/PubTmp/Out/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
/web.api/web.api/obj/Release/netcoreapp2.2/PubTmp/Out/Microsoft.CodeAnalysis.Workspaces.dll
/web.api/web.api/obj/Release/netcoreapp2.2/PubTmp/Out/Microsoft.VisualStudio.Web.CodeGeneration.Contracts.dll
/web.api/web.api/obj/Release/netcoreapp2.2/PubTmp/Out/Microsoft.VisualStudio.Web.CodeGeneration.Core.dll
/web.api/web.api/obj/Release/netcoreapp2.2/PubTmp/Out/Microsoft.VisualStudio.Web.CodeGeneration.EntityFrameworkCore.dll
/web.api/web.api/obj/Release/netcoreapp2.2/PubTmp/Out/Microsoft.VisualStudio.Web.CodeGeneration.Templating.dll
/web.api/web.api/obj/Release/netcoreapp2.2/PubTmp/Out/Microsoft.VisualStudio.Web.CodeGeneration.Utils.dll
/web.api/web.api/obj/Release/netcoreapp2.2/PubTmp/Out/Microsoft.VisualStudio.Web.CodeGeneration.dll
/web.api/web.api/obj/Release/netcoreapp2.2/PubTmp/Out/Microsoft.VisualStudio.Web.CodeGenerators.Mvc.dll
/web.api/web.api/obj/Release/netcoreapp2.2/PubTmp/Out/Ninject.dll
/web.api/web.api/obj/Release/netcoreapp2.2/PubTmp/Out/NuGet.Frameworks.dll
/web.api/web.api/obj/Release/netcoreapp2.2/PubTmp/Out/Swagger/XmlDocument.xml
/web.api/web.api/obj/Release/netcoreapp2.2/PubTmp/Out/Swashbuckle.AspNetCore.Swagger.dll
/web.api/web.api/obj/Release/netcoreapp2.2/PubTmp/Out/Swashbuckle.AspNetCore.SwaggerGen.dll
/web.api/web.api/obj/Release/netcoreapp2.2/PubTmp/Out/Swashbuckle.AspNetCore.SwaggerUI.dll
/web.api/web.api/obj/Release/netcoreapp2.2/PubTmp/Out/Swashbuckle.AspNetCore.dll
/web.api/web.api/obj/Release/netcoreapp2.2/PubTmp/Out/System.Composition.AttributedModel.dll
/web.api/web.api/obj/Release/netcoreapp2.2/PubTmp/Out/System.Composition.Convention.dll
/web.api/web.api/obj/Release/netcoreapp2.2/PubTmp/Out/System.Composition.Hosting.dll
/web.api/web.api/obj/Release/netcoreapp2.2/PubTmp/Out/System.Composition.Runtime.dll
/web.api/web.api/obj/Release/netcoreapp2.2/PubTmp/Out/System.Composition.TypedParts.dll
/web.api/web.api/obj/Release/netcoreapp2.2/PubTmp/Out/System.Configuration.ConfigurationManager.dll
/web.api/web.api/obj/Release/netcoreapp2.2/PubTmp/Out/System.Security.AccessControl.dll
/web.api/web.api/obj/Release/netcoreapp2.2/PubTmp/Out/System.Security.Cryptography.ProtectedData.dll
/web.api/web.api/obj/Release/netcoreapp2.2/PubTmp/Out/System.Security.Permissions.dll
/web.api/web.api/obj/Release/netcoreapp2.2/PubTmp/Out/System.Security.Principal.Windows.dll
/web.api/web.api/obj/Release/netcoreapp2.2/PubTmp/Out/appsettings.Development.json
/web.api/web.api/obj/Release/netcoreapp2.2/PubTmp/Out/appsettings.json
/web.api/web.api/obj/Release/netcoreapp2.2/PubTmp/Out/dotnet-aspnet-codegenerator-design.dll
/web.api/web.api/obj/Release/netcoreapp2.2/PubTmp/Out/runtimes/unix/lib/netcoreapp2.1/System.Security.Principal.Windows.dll
/web.api/web.api/obj/Release/netcoreapp2.2/PubTmp/Out/runtimes/win/lib/netcoreapp2.0/System.Security.AccessControl.dll
/web.api/web.api/obj/Release/netcoreapp2.2/PubTmp/Out/runtimes/win/lib/netcoreapp2.1/System.Security.Principal.Windows.dll
/web.api/web.api/obj/Release/netcoreapp2.2/PubTmp/Out/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
/web.api/web.api/obj/Release/netcoreapp2.2/PubTmp/Out/web.api.deps.json
/web.api/web.api/obj/Release/netcoreapp2.2/PubTmp/Out/web.api.dll
/web.api/web.api/obj/Release/netcoreapp2.2/PubTmp/Out/web.api.pdb
/web.api/web.api/obj/Release/netcoreapp2.2/PubTmp/Out/web.api.runtimeconfig.json
/web.api/web.api/obj/Release/netcoreapp2.2/PubTmp/Out/web.config
/web.api/web.api/obj/Release/netcoreapp2.2/PubTmp/Out/webapi.Domain.dll
/web.api/web.api/obj/Release/netcoreapp2.2/PubTmp/Out/webapi.Domain.pdb
/web.api/web.api/obj/Release/netcoreapp2.2/PubTmp/Out/webapi.Infra.Data.dll
/web.api/web.api/obj/Release/netcoreapp2.2/PubTmp/Out/webapi.Infra.Data.pdb
/web.api/web.api/obj/Release/netcoreapp2.2/PubTmp/web.api.Parameters.xml
/web.api/web.api/obj/Release/netcoreapp2.2/PubTmp/web.api.SourceManifest.xml
/web.api/web.api/obj/Release/netcoreapp2.2/web.api.AssemblyInfo.cs
/web.api/web.api/obj/Release/netcoreapp2.2/web.api.AssemblyInfoInputs.cache
/web.api/web.api/obj/Release/netcoreapp2.2/web.api.RazorAssemblyInfo.cache
/web.api/web.api/obj/Release/netcoreapp2.2/web.api.RazorAssemblyInfo.cs
/web.api/web.api/obj/Release/netcoreapp2.2/web.api.RazorTargetAssemblyInfo.cache
/web.api/web.api/obj/Release/netcoreapp2.2/web.api.assets.cache
/web.api/web.api/obj/Release/netcoreapp2.2/web.api.csproj.CopyComplete
/web.api/web.api/obj/Release/netcoreapp2.2/web.api.csproj.FileListAbsolute.txt
/web.api/web.api/obj/Release/netcoreapp2.2/web.api.csprojAssemblyReference.cache
/web.api/web.api/obj/Release/netcoreapp2.2/web.api.dll
/web.api/web.api/obj/Release/netcoreapp2.2/web.api.pdb
/web.api/webapi.Domain/bin/Release/netcoreapp2.2/webapi.Domain.deps.json
/web.api/webapi.Domain/bin/Release/netcoreapp2.2/webapi.Domain.dll
/web.api/webapi.Domain/bin/Release/netcoreapp2.2/webapi.Domain.pdb
/web.api/webapi.Domain/obj/Release/netcoreapp2.2/webapi.Domain.AssemblyInfo.cs
/web.api/webapi.Domain/obj/Release/netcoreapp2.2/webapi.Domain.AssemblyInfoInputs.cache
/web.api/webapi.Domain/obj/Release/netcoreapp2.2/webapi.Domain.assets.cache
/web.api/webapi.Domain/obj/Release/netcoreapp2.2/webapi.Domain.csproj.FileListAbsolute.txt
/web.api/webapi.Domain/obj/Release/netcoreapp2.2/webapi.Domain.dll
/web.api/webapi.Domain/obj/Release/netcoreapp2.2/webapi.Domain.pdb
/web.api/webapi.Infra.Data/bin/Release/netcoreapp2.2/webapi.Domain.dll
/web.api/webapi.Infra.Data/bin/Release/netcoreapp2.2/webapi.Domain.pdb
/web.api/webapi.Infra.Data/bin/Release/netcoreapp2.2/webapi.Infra.Data.deps.json
/web.api/webapi.Infra.Data/bin/Release/netcoreapp2.2/webapi.Infra.Data.dll
/web.api/webapi.Infra.Data/bin/Release/netcoreapp2.2/webapi.Infra.Data.pdb
/web.api/webapi.Infra.Data/bin/Release/netcoreapp2.2/webapi.Infra.Data.runtimeconfig.dev.json
/web.api/webapi.Infra.Data/bin/Release/netcoreapp2.2/webapi.Infra.Data.runtimeconfig.json
/web.api/webapi.Infra.Data/obj/Release/netcoreapp2.2/webapi.Infra.Data.AssemblyInfo.cs
/web.api/webapi.Infra.Data/obj/Release/netcoreapp2.2/webapi.Infra.Data.AssemblyInfoInputs.cache
/web.api/webapi.Infra.Data/obj/Release/netcoreapp2.2/webapi.Infra.Data.assets.cache
/web.api/webapi.Infra.Data/obj/Release/netcoreapp2.2/webapi.Infra.Data.csproj.CopyComplete
/web.api/webapi.Infra.Data/obj/Release/netcoreapp2.2/webapi.Infra.Data.csproj.FileListAbsolute.txt
/web.api/webapi.Infra.Data/obj/Release/netcoreapp2.2/webapi.Infra.Data.csprojAssemblyReference.cache
/web.api/webapi.Infra.Data/obj/Release/netcoreapp2.2/webapi.Infra.Data.dll
/web.api/webapi.Infra.Data/obj/Release/netcoreapp2.2/webapi.Infra.Data.pdb
/web.api/webapi.Infra/bin/Debug/netcoreapp2.2/webapi.Domain.dll
/web.api/webapi.Infra/bin/Debug/netcoreapp2.2/webapi.Domain.pdb
/web.api/webapi.Infra/bin/Debug/netcoreapp2.2/webapi.Infra.Data.dll
/web.api/webapi.Infra/bin/Debug/netcoreapp2.2/webapi.Infra.Data.pdb
/web.api/webapi.Infra/obj/Debug/netcoreapp2.2/webapi.Infra.csproj.CopyComplete
/Web.Client/.vs/WebClient.UI/v16/Server/sqlite3/storage.ide-shm
/Web.Client/.vs/WebClient.UI/v16/Server/sqlite3/storage.ide-wal
/web.api/.vs
