/Web.Client/.vs/Web.Client/v16/.suo
/Web.Client/.vs/Web.Client/v16/Server/sqlite3/db.lock
/Web.Client/.vs/Web.Client/v16/Server/sqlite3/storage.ide
/Web.Client/.vs/Web.Client/v16/Server/sqlite3/storage.ide-shm
/Web.Client/.vs/Web.Client/v16/Server/sqlite3/storage.ide-wal
/web.api/.vs/web.api/v16/.suo
/web.api/.vs/web.api/v16/Server/sqlite3/db.lock
/web.api/.vs/web.api/v16/Server/sqlite3/storage.ide
/web.api/.vs/web.api/v16/Server/sqlite3/storage.ide-shm
/web.api/.vs/web.api/v16/Server/sqlite3/storage.ide-wal
/Web.Client/Web.Client/obj/Debug/netcoreapp2.2/Web.Client.AssemblyInfo.cs
/Web.Client/Web.Client/obj/Debug/netcoreapp2.2/Web.Client.AssemblyInfoInputs.cache
/Web.Client/Web.Client/obj/Debug/netcoreapp2.2/Web.Client.RazorAssemblyInfo.cache
/Web.Client/Web.Client/obj/Debug/netcoreapp2.2/Web.Client.RazorAssemblyInfo.cs
/Web.Client/Web.Client/obj/Debug/netcoreapp2.2/Web.Client.assets.cache
/Web.Client/Web.Client/obj/Debug/netcoreapp2.2/Web.Client.csprojAssemblyReference.cache
/Web.Client/Web.Client/obj/Web.Client.csproj.nuget.cache
/Web.Client/Web.Client/obj/Web.Client.csproj.nuget.dgspec.json
/Web.Client/Web.Client/obj/Web.Client.csproj.nuget.g.props
/Web.Client/Web.Client/obj/Web.Client.csproj.nuget.g.targets
/Web.Client/Web.Client/obj/project.assets.json
/Web.Client/WebClient.Domain/obj/Debug/netcoreapp3.0/WebClient.Domain.AssemblyInfo.cs
/Web.Client/WebClient.Domain/obj/Debug/netcoreapp3.0/WebClient.Domain.AssemblyInfoInputs.cache
/Web.Client/WebClient.Domain/obj/Debug/netcoreapp3.0/WebClient.Domain.assets.cache
/Web.Client/WebClient.Domain/obj/Debug/netcoreapp3.0/WebClient.Domain.csprojAssemblyReference.cache
/Web.Client/WebClient.Domain/obj/WebClient.Domain.csproj.nuget.cache
/Web.Client/WebClient.Domain/obj/WebClient.Domain.csproj.nuget.dgspec.json
/Web.Client/WebClient.Domain/obj/WebClient.Domain.csproj.nuget.g.props
/Web.Client/WebClient.Domain/obj/WebClient.Domain.csproj.nuget.g.targets
/Web.Client/WebClient.Domain/obj/project.assets.json
/Web.Client/WebClient.Infra/obj/Debug/netcoreapp3.0/WebClient.Infra.AssemblyInfo.cs
/Web.Client/WebClient.Infra/obj/Debug/netcoreapp3.0/WebClient.Infra.AssemblyInfoInputs.cache
/Web.Client/WebClient.Infra/obj/Debug/netcoreapp3.0/WebClient.Infra.assets.cache
/Web.Client/WebClient.Infra/obj/Debug/netcoreapp3.0/WebClient.Infra.csprojAssemblyReference.cache
/Web.Client/WebClient.Infra/obj/WebClient.Infra.csproj.nuget.cache
/Web.Client/WebClient.Infra/obj/WebClient.Infra.csproj.nuget.dgspec.json
/Web.Client/WebClient.Infra/obj/WebClient.Infra.csproj.nuget.g.props
/Web.Client/WebClient.Infra/obj/WebClient.Infra.csproj.nuget.g.targets
/Web.Client/WebClient.Infra/obj/project.assets.json
/web.api/web.api/bin/Debug/netcoreapp2.2/Properties/launchSettings.json
/web.api/web.api/bin/Debug/netcoreapp2.2/appsettings.Development.json
/web.api/web.api/bin/Debug/netcoreapp2.2/appsettings.json
/web.api/web.api/bin/Debug/netcoreapp2.2/web.api.deps.json
/web.api/web.api/bin/Debug/netcoreapp2.2/web.api.dll
/web.api/web.api/bin/Debug/netcoreapp2.2/web.api.pdb
/web.api/web.api/bin/Debug/netcoreapp2.2/web.api.runtimeconfig.dev.json
/web.api/web.api/bin/Debug/netcoreapp2.2/web.api.runtimeconfig.json
/web.api/web.api/obj/Debug/netcoreapp2.2/web.api.AssemblyInfo.cs
/web.api/web.api/obj/Debug/netcoreapp2.2/web.api.AssemblyInfoInputs.cache
/web.api/web.api/obj/Debug/netcoreapp2.2/web.api.RazorAssemblyInfo.cache
/web.api/web.api/obj/Debug/netcoreapp2.2/web.api.RazorAssemblyInfo.cs
/web.api/web.api/obj/Debug/netcoreapp2.2/web.api.RazorTargetAssemblyInfo.cache
/web.api/web.api/obj/Debug/netcoreapp2.2/web.api.assets.cache
/web.api/web.api/obj/Debug/netcoreapp2.2/web.api.csproj.FileListAbsolute.txt
/web.api/web.api/obj/Debug/netcoreapp2.2/web.api.csprojAssemblyReference.cache
/web.api/web.api/obj/Debug/netcoreapp2.2/web.api.dll
/web.api/web.api/obj/Debug/netcoreapp2.2/web.api.pdb
/web.api/web.api/obj/project.assets.json
/web.api/web.api/obj/web.api.csproj.nuget.cache
/web.api/web.api/obj/web.api.csproj.nuget.dgspec.json
/web.api/web.api/obj/web.api.csproj.nuget.g.props
/web.api/web.api/obj/web.api.csproj.nuget.g.targets
/web.api/web.api/web.api.csproj.user
/web.api/webapi.Domain/obj/Debug/netcoreapp3.0/webapi.Domain.AssemblyInfo.cs
/web.api/webapi.Domain/obj/Debug/netcoreapp3.0/webapi.Domain.AssemblyInfoInputs.cache
/web.api/webapi.Domain/obj/Debug/netcoreapp3.0/webapi.Domain.assets.cache
/web.api/webapi.Domain/obj/Debug/netcoreapp3.0/webapi.Domain.csprojAssemblyReference.cache
/web.api/webapi.Domain/obj/project.assets.json
/web.api/webapi.Domain/obj/webapi.Domain.csproj.nuget.cache
/web.api/webapi.Domain/obj/webapi.Domain.csproj.nuget.dgspec.json
/web.api/webapi.Domain/obj/webapi.Domain.csproj.nuget.g.props
/web.api/webapi.Domain/obj/webapi.Domain.csproj.nuget.g.targets
/web.api/webapi.Infra.Data/obj/Debug/netcoreapp3.0/webapi.Infra.Data.AssemblyInfo.cs
/web.api/webapi.Infra.Data/obj/Debug/netcoreapp3.0/webapi.Infra.Data.AssemblyInfoInputs.cache
/web.api/webapi.Infra.Data/obj/Debug/netcoreapp3.0/webapi.Infra.Data.assets.cache
/web.api/webapi.Infra.Data/obj/project.assets.json
/web.api/webapi.Infra.Data/obj/webapi.Infra.Data.csproj.nuget.cache
/web.api/webapi.Infra.Data/obj/webapi.Infra.Data.csproj.nuget.dgspec.json
/web.api/webapi.Infra.Data/obj/webapi.Infra.Data.csproj.nuget.g.props
/web.api/webapi.Infra.Data/obj/webapi.Infra.Data.csproj.nuget.g.targets
/web.api/webapi.Infra/obj/Debug/netcoreapp3.0/webapi.Infra.AssemblyInfo.cs
/web.api/webapi.Infra/obj/Debug/netcoreapp3.0/webapi.Infra.AssemblyInfoInputs.cache
/web.api/webapi.Infra/obj/Debug/netcoreapp3.0/webapi.Infra.assets.cache
/web.api/webapi.Infra/obj/Debug/netcoreapp3.0/webapi.Infra.csprojAssemblyReference.cache
/web.api/webapi.Infra/obj/project.assets.json
/web.api/webapi.Infra/obj/webapi.Infra.csproj.nuget.cache
/web.api/webapi.Infra/obj/webapi.Infra.csproj.nuget.dgspec.json
/web.api/webapi.Infra/obj/webapi.Infra.csproj.nuget.g.props
/web.api/webapi.Infra/obj/webapi.Infra.csproj.nuget.g.targets
/WebClient.UI/.vs/WebClient.UI/config/applicationhost.config
/WebClient.UI/.vs/WebClient.UI/v16/.suo
/WebClient.UI/.vs/WebClient.UI/v16/Server/sqlite3/db.lock
/WebClient.UI/.vs/WebClient.UI/v16/Server/sqlite3/storage.ide
/WebClient.UI/.vs/WebClient.UI/v16/Server/sqlite3/storage.ide-shm
/WebClient.UI/.vs/WebClient.UI/v16/Server/sqlite3/storage.ide-wal
/WebClient.UI/Web.Client/bin/Debug/netcoreapp2.2/Properties/launchSettings.json
/WebClient.UI/Web.Client/bin/Debug/netcoreapp2.2/Web.Client.Views.dll
/WebClient.UI/Web.Client/bin/Debug/netcoreapp2.2/Web.Client.Views.pdb
/WebClient.UI/Web.Client/bin/Debug/netcoreapp2.2/Web.Client.deps.json
/WebClient.UI/Web.Client/bin/Debug/netcoreapp2.2/Web.Client.dll
/WebClient.UI/Web.Client/bin/Debug/netcoreapp2.2/Web.Client.pdb
/WebClient.UI/Web.Client/bin/Debug/netcoreapp2.2/Web.Client.runtimeconfig.dev.json
/WebClient.UI/Web.Client/bin/Debug/netcoreapp2.2/Web.Client.runtimeconfig.json
/WebClient.UI/Web.Client/bin/Debug/netcoreapp2.2/appsettings.Development.json
/WebClient.UI/Web.Client/bin/Debug/netcoreapp2.2/appsettings.json
/WebClient.UI/Web.Client/obj/Debug/netcoreapp2.2/Razor/Views/Home/Index.cshtml.g.cs
/WebClient.UI/Web.Client/obj/Debug/netcoreapp2.2/Razor/Views/Home/Privacy.cshtml.g.cs
/WebClient.UI/Web.Client/obj/Debug/netcoreapp2.2/Razor/Views/LibraryBooks/CreateOrEdit.cshtml.g.cs
/WebClient.UI/Web.Client/obj/Debug/netcoreapp2.2/Razor/Views/LibraryBooks/Index.cshtml.g.cs
/WebClient.UI/Web.Client/obj/Debug/netcoreapp2.2/Razor/Views/Shared/Error.cshtml.g.cs
/WebClient.UI/Web.Client/obj/Debug/netcoreapp2.2/Razor/Views/Shared/_CookieConsentPartial.cshtml.g.cs
/WebClient.UI/Web.Client/obj/Debug/netcoreapp2.2/Razor/Views/Shared/_Layout.cshtml.g.cs
/WebClient.UI/Web.Client/obj/Debug/netcoreapp2.2/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs
/WebClient.UI/Web.Client/obj/Debug/netcoreapp2.2/Razor/Views/_ViewImports.cshtml.g.cs
/WebClient.UI/Web.Client/obj/Debug/netcoreapp2.2/Razor/Views/_ViewStart.cshtml.g.cs
/WebClient.UI/Web.Client/obj/Debug/netcoreapp2.2/Web.Client.AssemblyInfo.cs
/WebClient.UI/Web.Client/obj/Debug/netcoreapp2.2/Web.Client.AssemblyInfoInputs.cache
/WebClient.UI/Web.Client/obj/Debug/netcoreapp2.2/Web.Client.RazorAssemblyInfo.cache
/WebClient.UI/Web.Client/obj/Debug/netcoreapp2.2/Web.Client.RazorAssemblyInfo.cs
/WebClient.UI/Web.Client/obj/Debug/netcoreapp2.2/Web.Client.RazorCoreGenerate.cache
/WebClient.UI/Web.Client/obj/Debug/netcoreapp2.2/Web.Client.RazorTargetAssemblyInfo.cache
/WebClient.UI/Web.Client/obj/Debug/netcoreapp2.2/Web.Client.RazorTargetAssemblyInfo.cs
/WebClient.UI/Web.Client/obj/Debug/netcoreapp2.2/Web.Client.TagHelpers.input.cache
/WebClient.UI/Web.Client/obj/Debug/netcoreapp2.2/Web.Client.TagHelpers.output.cache
/WebClient.UI/Web.Client/obj/Debug/netcoreapp2.2/Web.Client.Views.dll
/WebClient.UI/Web.Client/obj/Debug/netcoreapp2.2/Web.Client.Views.pdb
/WebClient.UI/Web.Client/obj/Debug/netcoreapp2.2/Web.Client.assets.cache
/WebClient.UI/Web.Client/obj/Debug/netcoreapp2.2/Web.Client.csproj.CopyComplete
/WebClient.UI/Web.Client/obj/Debug/netcoreapp2.2/Web.Client.csproj.FileListAbsolute.txt
/WebClient.UI/Web.Client/obj/Debug/netcoreapp2.2/Web.Client.csprojAssemblyReference.cache
/WebClient.UI/Web.Client/obj/Debug/netcoreapp2.2/Web.Client.dll
/WebClient.UI/Web.Client/obj/Debug/netcoreapp2.2/Web.Client.pdb
/WebClient.UI/Web.Client/obj/Web.Client.csproj.nuget.cache
/WebClient.UI/Web.Client/obj/Web.Client.csproj.nuget.dgspec.json
/WebClient.UI/Web.Client/obj/Web.Client.csproj.nuget.g.props
/WebClient.UI/Web.Client/obj/Web.Client.csproj.nuget.g.targets
/WebClient.UI/Web.Client/obj/project.assets.json
